<form class="search-form" id="search-form">
  <input type="text" name="query" autocomplete="off" placeholder="Search images..." required />
  <button class="search-form_btn button {" type="submit">Search</button>
</form>
<div id="gallery-container">
  <ul class="gallery">
    <!-- Список <li> с карточками изображений -->
  </ul>
</div>
<button type="button" class="button btn" data-action="load-more">
  <span></span>
  <span class="label">Load more</span>
</button>
<!-- 
<button type="button" class="btn btn-primary button" data-action="load-more">
  <span
    class="spinner-border spinner-border-sm spinner is-hidden"
    role="status"
    aria-hidden="true"
  ></span>

  <span class="label">Показать ещё</span>
</button> -->
